@model tl2_tp6_2024_s0a0m.ViewModels.ClienteViewModel

<form asp-action="CrearCliente" method="post">
    <div>
        <label for="Nombre">Nombre</label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div>
        <label for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label for="Telefono">Teléfono</label>
        <input asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>

    <button type="submit">Guardar</button>
</form>
